body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: flex;
    flex-direction: column;
    border: 5px;
    border-style: solid;
    border-color: darkslategrey;
    height: 800px;
    width: 800px;
    flex-wrap: wrap;
}
.row{
    flex-grow: 1;
    display: flex;

}
.cell{
    flex-grow: 1;
    flex-shrink: 1;
    border: 2px;
    border-style: solid;
    border-color: darkslategrey;
}

.hovered{
    background-color: black;
}
