body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: flex;
    border: 5px;
    border-style: solid;
    border-color: darkslategrey;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.pixel{
    margin: 0px;
    padding: 0px;
    border: 2px;
    border-style: solid;
    border-color: darkslategrey;
}